.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid rgb(148, 148, 148);
}

.footer.dark{
    background-color: #333;
    color: #fff;
}