.protect{
    height: 100vh;

    &__block{
        display: flex;
        padding: 100px 0;
    }

    &__right{
        width: 250px;
        text-align: center;
    }

    &__form{
        width: 100%;
        margin-bottom: 25px;
        input{
            border: none;
            outline: none;
            padding: 10px 8px;
        }

        &-control{
            border: 1px solid #333;
            border-radius: 5px;
            display: flex;
            width: 100%;
            justify-content: space-between;

            button{
                border: none;
                background: none;
                padding: 0 10px;
                cursor: pointer;
                font-size: 16px;
            }
        }


    }
}