@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "./SCSS/mixin.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container {
     max-width: 1230px;
     margin: 0 auto;
     padding: 0 15px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.main {
    padding-top: 50px;
}

.main.dark{
    background-color: rgb(24, 24, 24);

    .cards__title{
        color: #fff;
    }
}

.cards{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(148, 148, 148);

    &__title{
        @include title(30px);
        margin-bottom: 30px;
    }

    &__list{
        @include flex(center, space-between);
        flex-wrap: wrap;
        width: 800px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 820px){
    .cards{
        width: 100%;
        &__list{
            flex-wrap: wrap;
            width: 100%;
        }
    }
}