@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin title($size) {
    font-weight: 700;
    font-size: $size;
    line-height: 29px;
    color: #313131;
}
